body {
  background-color: grey;
  font-family: Arial;
  font-weight: bolder;
  font-size: 14px;
  line-height: 2em;


}

a, a:active, a:link, a:visited {
  color: #dedee0;
  font-size: 18px;
  text-decoration-style: dashed;

}

a:hover {
  background-color: rgba(255,255,255,0.4);

}

.container {
  width: 100%;
  height: 325px;

}

.login {
  width: 525px;
  height: 325px;
  border: 2px solid #a1a1a1;
  border-radius: 10px;
  margin: 10% auto;
}

.form_header {
  width: 100%;
  height: 10%;
  background-color: #dedee0;
  border-bottom: 2px solid #a1a1a1;
  text-align: center;
  padding: 3% 0 0 0;
  border-radius: 10px 10px 0 0;
}

form {
  
}
